{% extends 'base.html.twig' %}

{% block title %}My products{% endblock %}

{% block body %}
    {% for item in products %}
         <div class="pricing_table">
            <ul>
            	
            	<li>{{ item.name }}</li>
		        <li>{{ item.price }}</li>
		        <li>{{ item.description }}</li>
		        <li>{{ item.subcategory.name }}</li>
		        <li>{{ item.subcategory.category.name }}</li>
            	
            </ul>

    {% endfor %}
{% endblock %}